<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>MI Weather</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="container-fluid">
    <h1>Mi Weahter</h1>
    <dv class="top">
      <form action="index_submit" accept-charset="utf-8">
        <input type="text" class="city-input" placeholder="City">
        <input type="text" class="state-input" placeholder="State">
        <button type="submit" class="api-btn btn btn-default">Search the weather</button>
      </form>
    </dv>

  </div>

  <script src="/js/script.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
